.slider_box {
  position: relative;
  height: 100%;
  .slick_slider {
    position: relative;
    .slider_card {
      height: 100%;
      overflow: hidden;
      border-radius: 15px;
      .slider_content {
        position: relative;
        height: 100%;
        .img {
          width: 100%;
          img {
            width: 100%;
            border-radius: 15px;
            height: 300px !important;
            object-fit: cover;
          }
        }
        .title_desc {
          position: absolute;
          bottom: 0;
          height: 100%;
          width: 100%;
          color: var(--color-white);
          padding: 0px 20px;
          background: linear-gradient(
            183.45deg,
            rgba(0, 0, 0, 0.05) 41.18%,
            rgba(0, 0, 0, 0.6) 100.3%
          );
          .title {
            position: absolute;
            bottom: 33px;
          }
        }
      }
    }
  }
}
.slick-dots {
  li {
    width: 8px; // Default width for non-active dots

    position: relative;
    bottom: 30px;
    &.slick-active {
      width: 8px;
      height: 8px;
      button {
        &::before {
          font-size: 0;
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background: var(--color-sl-w);
          border-radius: 50%;
        }
      }
    }
    button {
      &::before {
        font-size: 0;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--color-sl-bg) !important;
      }
    }
  }
}
