.sales_overview_component {
  border: 1px solid var(--color-stroke);
  border-radius: 15px;
  background-color: var(--color-white);
  height: 100%;
  .content {
    .top,
    .bottom {
      padding: 15px;
    }
    .top {
      border-bottom: 1px solid var(--color-stroke);
      .left {
        h4 {
          font-weight: 600;
        }
        .description_text {
          margin-top: 15px;
          font-size: 14px;
          color: var(--color-mid-gray);
        }
      }
      .right {
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        .main_btn {
          text-wrap: nowrap;
        }
        .btn {
          .main_btn {
            border: 2px solid var(--color-stroke);
            padding: 12px 30px;
            border-radius: 30px;
            font-size: 14px;
          }
        }
        .filter_btns {
          gap: 10px;
          .main_btn {
            color: var(--color-deep-gray);
            font-weight: 300;
            font-size: 14px;
            padding: 7px 15px;
            border-radius: 8px;
            transition: var(--transition);
            &:hover {
              background-color: var(--color-light-gray);
            }
            &.active {
              color: var(--color-black);
              font-weight: 600;
              background-color: var(--color-light-gray);
            }
          }
        }
      }
    }
    .bottom {
      gap: 15px;
      .bar_chart_arrow {
        width: 105%;
        position: relative;
        overflow: hidden;
        right: 5px;

        .bar_chart_wrapper {
          position: relative;
          width: 92%;
          left: 5px;

          .left_shadow,
          .right_shadow {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 20px;
            z-index: 10;
            pointer-events: none;
          }

          .left_shadow {
            left: 0;
            background: linear-gradient(
              90deg,
              rgba(0, 0, 0, 0.025) 0%,
              rgba(0, 0, 0, 0) 100%
            );
          }

          .right_shadow {
            right: 0;
            background: linear-gradient(
              270deg,
              rgba(0, 0, 0, 0.025) 0%,
              rgba(0, 0, 0, 0) 100%
            );
          }
        }

        .bar_chart {
          width: 100%;
          position: relative;
          overflow: hidden;
          overflow-x: auto;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
        }

        .arrow_icon_left,
        .arrow_icon_right {
          position: absolute;
          background-color: var(--color-light-gray);
          width: 25px;
          height: 25px;
          border-radius: 50%;
          cursor: pointer;
          z-index: 50;
          .icon {
            color: var(--color-semi-gray);
          }
          &.active {
            .icon {
              color: var(--color-black);
            }
          }
        }
        .arrow_icon_left {
          top: 40%;
          left: 0px;
        }
        .arrow_icon_right {
          right: -1px;
          bottom: 47%;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 850px) {
        flex-direction: column;

        .bar_chart_arrow {
          width: 100%;
          right: 0px;
          .bar_chart_wrapper {
            width: 95%;
            left: 0px;
          }
          .arrow_icon_right {
            right: 0px;
          }
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 520px) {
        .widgets {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
