.sales_overview_component {
  border: 1px solid var(--color-stroke);
  border-radius: 15px;
  background-color: var(--color-white);
  height: 100%;
  .content {
    .top,
    .bottom {
      padding: 15px;
    }
    .top {
      border-bottom: 1px solid var(--color-stroke);
      .left {
        .description_text {
          margin-top: 15px;
          font-size: 14px;
          color: var(--color-mid-gray);
        }
      }
      .right {
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        .main_btn {
          text-wrap: nowrap;
        }
        .btn {
          .main_btn {
            border: 2px solid var(--color-stroke);
            padding: 12px 30px;
            border-radius: 20px;
            font-size: 14px;
          }
        }
        .filter_btns {
          gap: 10px;
          .main_btn {
            color: var(--color-deep-gray);
            font-weight: 300;
            font-size: 14px;
            padding: 7px 15px;
            border-radius: 5px;
            transition: var(--transition);
            &:hover {
              background-color: var(--color-light-gray);
            }
            &.active {
              color: var(--color-black);
              font-weight: 600;
              background-color: var(--color-light-gray);
            }
          }
        }
      }
    }
    .bottom {
      gap: 15px;
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 850px) {
        flex-direction: column;
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 520px) {
        .widgets {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
